interactions:
- request:
    body: null
    headers:
      x-api-key:
      - your_test_api_key
    method: GET
    uri: https://api.upstox.com/v2/historical-candle/invalid_instrument/1d/2021-01-10/2021-01-01
  response:
    body:
      string: '{"status":"error","errors":[{"errorCode":"UDAPI1021","message":"Instrument
        key is of invalid format","propertyPath":"getHistoricalCandleData.instrumentKey","invalidValue":"invalid_instrument","error_code":"UDAPI1021","property_path":"getHistoricalCandleData.instrumentKey","invalid_value":"invalid_instrument"},{"errorCode":"UDAPI1020","message":"Interval
        accepts one of (1minute,30minute,day,week,month)","propertyPath":"getHistoricalCandleData.interval","invalidValue":"1d","error_code":"UDAPI1020","property_path":"getHistoricalCandleData.interval","invalid_value":"1d"}]}'
    headers:
      Content-Type:
      - application/json
      message:
      - request failed
      requestId:
      - 4cad3d62-bfa5-487c-b2bd-2005cec7b2f5
    status:
      code: 400
      message: Bad Request
version: 1
